@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

// COLORS
:root {
  --bg-color: rgba(0, 0, 0, 0.03);
  --bg-hover: rgba(0, 0, 0, 0.03);
  --bdr-color: rgba(0, 0, 0, 0.1);
  --card-color: #ffffff;
  --primary-color: rgba(0, 0, 0, 0.4);
  --secondary-color: rgba(0, 0, 0, 0.6);
  --title-text: rgba(0, 0, 0, 0.8);
  --box-shadow: rgba(84, 70, 35, 0.25);
  --toggle-shadow: rgba(0, 0, 0, 0);
}

// theme
[data-theme='dark'] {
  --bg-color: #2f3437;
  --bg-hover: #474c50;
  --bdr-color: #474c50;
  --card-color: #363c3f;
  --primary-color: #9d9fa0;
  --secondary-color: #9d9fa0;
  --title-text: #eaebea;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --toggle-shadow: rgba(0, 0, 0, 0.15);
}

// sizing
$b-rad: 4px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  font-size: 100%;
  font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  width: 100vw;
  background-color: var(--bg-color);
}

body,
h1,
h2,
h3,
p,
ul,
li,
input,
button {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

.container {
  padding: 1rem;
}

.card {
  max-width: 600px;
  padding: 1.5rem;
  margin: 4rem auto 0;
  background-color: var(--card-color);
  border-radius: $b-rad;
  box-shadow: 0 2px 12px var(--box-shadow);

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;

    #theme-checkbox {
      display: none;
    }

    .slider {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin-left: auto;
      width: 56px;
      height: 26px;
      border-radius: 20px;
      background-color: var(--bdr-color);
      cursor: pointer;
      box-shadow: 0 0px 2px var(--toggle-shadow);
    }

    .toggle-off::after,
    .toggle-on::after {
      content: '';
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: var(--card-color);
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 0;
      left: 2px;
      transition: all 0.3s ease-in-out;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .toggle-on::after {
      left: 32px;
      mask-image: url(../images/dark.svg);
      background-size: 100%;
      top: 1px;
    }

    &__name {
      font-size: 1.5rem;
      color: var(--title-text);
    }
  }
}

.todo {
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--bdr-color);
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 276px;
    margin-right: 1.5rem;

    .text {
      width: 100%;
      padding: 0.25rem;
      padding-left: 0.5rem;
      margin-right: 0.5rem;
      background-color: var(--card-color);
      border: 1px solid var(--bdr-color);
      border-radius: $b-rad;
      color: var(--secondary-color);

      &::placeholder {
        color: var(--primary-color);
      }
    }
  }

  &__select {
    select,
    option {
      margin: 0;
      padding: 0;
    }

    select {
      background-color: inherit;
      border: 1px solid var(--bdr-color);
      border-radius: $b-rad;
      color: var(--primary-color);
      padding: 0.1875rem;
    }
  }

  &__list {
    > * {
      border: 1px solid transparent;

      &:hover {
        background-color: var(--bg-hover);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.5rem;
    color: var(--secondary-color);

    input {
      width: 100%;
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: var(--primary-color);
      background-color: inherit;

      &::placeholder {
        color: var(--primary-color);
      }
    }

    p {
      width: 100%;
      font-size: 1rem;
      overflow-wrap: anywhere;
    }

    .item-button {
      min-width: 40px;
      margin-left: 0.5rem;

      :not(:last-child) {
        margin-right: 0.5rem;
      }

      > :last-child {
        padding-right: 0.5rem;
      }

      svg {
        width: 16px;
        height: 16px;
        fill: var(--primary-color);
      }

      .complete-btn,
      .trash-btn {
        visibility: hidden;
      }
    }

    &:hover {
      .complete-btn,
      .trash-btn {
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .todo__item {
    .item-button {
      .complete-btn,
      .trash-btn {
        visibility: visible;
      }
    }
  }
}

.button {
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);

  svg {
    width: 16px;
    height: 16px;
    fill: var(--primary-color);
  }

  &:hover {
    svg {
      fill: var(--title-text);
      color: var(--title-text);
    }
  }
}

.completed {
  text-decoration: line-through;
  color: var(--bdr-color);
}
