@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

// COLORS
:root {
  --bg-color: rgba(0, 0, 0, 0.03);
  --bg-hover: rgba(0, 0, 0, 0.03);
  --bdr-color: rgba(0, 0, 0, 0.1);
  --card-color: #ffffff;
  --primary-color: rgba(0, 0, 0, 0.4);
  --secondary-color: rgba(0, 0, 0, 0.6);
  --title-text: rgba(0, 0, 0, 0.8);
  --box-shadow: rgba(84, 70, 35, 0.25);
  --toggle-shadow: rgba(0, 0, 0, 0);
}

// theme
[data-theme='dark'] {
  --bg-color: #2f3437;
  --bg-hover: #474c50;
  --bdr-color: #474c50;
  --card-color: #363c3f;
  --primary-color: #9d9fa0;
  --secondary-color: #9d9fa0;
  --title-text: #eaebea;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --toggle-shadow: rgba(0, 0, 0, 0.15);
}

// sizing
$b-rad: 4px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  height: 100vh;
  font-size: 100%;
  font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  width: 100vw;
  background-color: var(--bg-color);
}

body,
h1,
h2,
h3,
p,
ul,
li,
input,
button {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

.container {
  height: 100vh;
  padding: 1rem;
}

.card {
  min-width: 340px;
  max-width: 768px;
  padding: 1.5rem 1.5rem 1rem;
  margin: 4rem auto 0;
  background-color: var(--card-color);
  border-radius: $b-rad;
  box-shadow: 0 2px 12px var(--box-shadow);

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;

    #theme-checkbox {
      display: none;
    }

    .slider {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin-left: auto;
      width: 56px;
      height: 26px;
      border-radius: 20px;
      background-color: var(--bdr-color);
      cursor: pointer;
      box-shadow: 0 0px 2px var(--toggle-shadow);
    }

    .toggle-off::after,
    .toggle-on::after {
      content: '';
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: var(--card-color);
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 0;
      left: 2px;
      transition: transform 0.3s ease;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    .toggle-on::after {
      transform: translate(30px, -1px);
      mask-image: url(../images/dark.svg);
    }

    &__name {
      font-size: 1.5rem;
      color: var(--title-text);
    }
  }
}

.todo {
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--bdr-color);
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 276px;
    margin-right: 1.5rem;

    .input-text {
      width: 100%;
      padding: 0.25rem;
      padding-left: 0.5rem;
      margin-right: 0.5rem;
      background-color: var(--card-color);
      border: 1px solid var(--bdr-color);
      border-radius: $b-rad;
      color: var(--secondary-color);

      &::placeholder {
        color: var(--primary-color);
        font-size: 0.875rem;
      }
    }
  }

  &__select {
    select,
    option {
      margin: 0;
      padding: 0;
    }

    select {
      background-color: inherit;
      border: 1px solid var(--bdr-color);
      border-radius: $b-rad;
      color: var(--primary-color);
      padding: 0.1875rem;
    }
  }

  &__list {
    li:last-of-type {
      margin-bottom: 1rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--bdr-color);
      }
    }

    > * {
      border: 1px solid transparent;

      &:hover {
        background-color: var(--bg-hover);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.5rem;
    color: var(--secondary-color);

    input {
      width: 100%;
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: var(--primary-color);
      background-color: inherit;

      &::placeholder {
        color: var(--primary-color);
      }
    }

    p {
      width: 100%;
      font-size: 1rem;
      overflow-wrap: anywhere;
    }

    .item-button {
      min-width: 40px;
      margin-left: 0.5rem;

      :not(:last-child) {
        margin-right: 0.5rem;
      }

      > :last-child {
        padding-right: 0.5rem;
      }

      svg {
        width: 16px;
        height: 16px;
        fill: var(--primary-color);
      }

      .complete-btn,
      .trash-btn {
        visibility: hidden;
      }
    }

    &:hover {
      .complete-btn,
      .trash-btn {
        visibility: visible;
      }
    }
  }
}
.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 1rem 0 0 auto;
}

.options-button {
  z-index: 1;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--primary-color);
  // transform: rotate(90deg);
}

.options-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -0.65rem;
  right: -0.25rem;
  width: auto;
  padding: 0.25rem 0.5rem 0.5rem;
  border: 1px solid var(--bdr-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 0.875rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease;

  background-color: var(--card-color) / 0.3;
  box-shadow: 0 2px 12px var(--box-shadow);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  #options-title {
    padding: 0.5rem;
    border-bottom: 1px solid var(--bdr-color);
  }

  #complete {
    margin-top: 0.5rem;
  }

  #complete,
  #incomplete,
  #delete,
  #reset {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;

    svg {
      margin-right: 0.5rem;
      width: 16px;
      height: 16px;
      color: inherit;
    }

    &:hover {
      background-color: var(--bg-hover);
      color: var(--secondary-color);
    }
  }

  &.show-options {
    opacity: 1;
    visibility: visible;
  }

  button {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 0.875rem;
    text-align: left;
    color: inherit;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .todo__item {
    .item-button {
      .complete-btn,
      .trash-btn {
        visibility: visible;
      }
    }
  }
}

.button {
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);

  svg {
    width: 16px;
    height: 16px;
    fill: var(--primary-color);
  }

  &:hover {
    svg {
      fill: var(--title-text);
      color: var(--title-text);
    }
  }
}

.completed {
  text-decoration: line-through;
  color: var(--bdr-color);
  filter: brightness(1.5);
}
